.home {
    padding: 80px 30px;
    color: white;
    text-align: center;
    font-family: "ZonaProBold", sans-serif;
}

@media screen and (max-width: 600px) {
    .home {
        padding: 60px 10px;
    }

    .d-logo {
        height: 200px;
        width: 180px;
    }
}
