.lander {
    padding: 80px 30px;
    color: white;
    text-align: center;
    font-family: 'ZonaProBold', sans-serif;
  }

@media screen and (max-width: 600px) {
  .lander {
    padding: 60px 10px;
  }
  .glazed-logo {    
    height: 300px;
    width: 300px;
  }
}