.navbar-dark {
    background-color: rgb(26, 69, 182);
}

button.link {
    color: hsla(0, 0%, 100%, 0.5);
    background: none;
    border: 0 solid transparent;
    padding: 0.5rem 0.5rem;
}

button.link:hover,
button.link:focus,
button.link:active {
    color: hsla(0, 0%, 100%, 0.75);
}

.btn-space {
    margin-right: 5px;
}
